
<div class="row">
     <div class="col-md-4">
        <app-appointment-detail-form></app-appointment-detail-form>
        <button type="button" class="btn btn-danger" (click)="logOut()">LOGOUT</button>
     </div>

     <div class="col-md-4">
         
     </div>
      <div class="col-md-4">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Doctor Name</th>
                    <th>Department</th>
                    <th>Phone Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dd of service.list1">
                    <td>{{dd.doctorName}}</td>
                    <td>{{dd.department}}</td>
                    <td>{{dd.phoneNumber}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    
        
    
</div>
    