<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>USER NAME</label>
            <input  class="form-control form-control-lg" placeholder="User Name"
            name="userNAME" #userNAME="ngModel" [(ngModel)]="service.userNAME"
            required [class.invalid]="userNAME.invalid && userNAME.touched">
        </div>
        <div class="form-group col-md-4">
            <label>PASSWORD</label>
            <input type="password" class="form-control form-control-lg" placeholder="Type Password"
            name="passWORD" #passWORD="ngModel" [(ngModel)]="service.passWORD"
            required minlength="8" [class.invalid]="passWORD.invalid && passWORD.touched">
        </div>
        
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid" >LOGIN</button>
        </div>
        <button type="button" class="btn btn-lg btn-danger" (click)="cancel()">Cancel</button>

</form>
  